@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Thin.ttf') format('truetype-variations');
  font-weight: 100;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/ExtraLight.ttf') format('truetype-variations');
  font-weight: 200;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Light.ttf') format('truetype-variations');
  font-weight: 300;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Regular.ttf') format('truetype-variations');
  font-weight: 400;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Medium.ttf') format('truetype-variations');
  font-weight: 500;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/SemiBold.ttf') format('truetype-variations');
  font-weight: 600;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Bold.ttf') format('truetype-variations');
  font-weight: 700;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/ExtraBold.ttf') format('truetype-variations');
  font-weight: 800;
}
@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter/Black.ttf') format('truetype-variations');
  font-weight: 900;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
