pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em 4em 1em 1em;
}

.hljs {
  background: hsl(var(--primary-foreground) / 0.9);
  color: hsl(var(--primary) / 0.9);
}

.hljs-subst,
.hljs-regexp,
.hljs-symbol,
.hljs-variable,
.hljs-template-variable,
.hljs-link,
.hljs-selector-attr,
.hljs-operator,
.hljs-literal,
.hljs-selector-pseudo,
.hljs-type,
.hljs-string,
.hljs-number,
.hljs-selector-id,
.hljs-selector-class,
.hljs-quote,
.hljs-template-tag,
.hljs-deletion {
  color: hsl(var(--green) / 1);
}

.hljs-emphasis {
  font-style: italic;
}

/* JSON */
.hljs .language-json,
.hljs-punctuation {
  color: hsl(var(--orange) / 1);
}

.hljs .language-json,
.hljs-attr {
  color: hsl(var(--red) / 1);
}

.hljs .language-json,
.hljs-string {
  color: hsl(var(--green) / 1);
}

.hljs .language-json,
.hljs-literal,
.hljs-keyword {
  color: hsl(var(--orange) / 1);
}

.hljs,
.language-bash {
  color: hsl(var(--primary) / 0.9);
}

/* JS */

.hljs.language-js {
  color: hsl(var(--primary) / 0.7);
}

.hljs.language-js .hljs-keyword {
  color: hsl(var(--violet) / 1);
}

.hljs.language-js .hljs-keyword::after {
  color: hsl(var(--yellow) / 1);
}

.hljs.language-js .class_ {
  color: hsl(var(--yellow) / 1);
}

.hljs.language-js .hljs-built_in,
.hljs.language-js .function_ {
  color: hsl(var(--blue) / 1);
}

.hljs.language-js .hljs-property,
.hljs.language-js .hljs-params {
  color: hsl(var(--red) / 1);
}

/* TS */

.hljs.language-ts {
  color: hsl(var(--primary) / 0.7);
}

.hljs.language-ts .hljs-keyword {
  color: hsl(var(--violet) / 1);
}

.hljs.language-ts .hljs-keyword::after {
  color: hsl(var(--yellow) / 1);
}

.hljs.language-ts .class_ {
  color: hsl(var(--yellow) / 1);
}

.hljs.language-ts .hljs-built_in,
.hljs.language-ts .function_ {
  color: hsl(var(--blue) / 1);
}

.hljs.language-ts .hljs-property,
.hljs.language-ts .hljs-params {
  color: hsl(var(--red) / 1);
}

/* TSX */

.hljs.language-tsx {
  color: hsl(var(--primary) / 0.7);
}

.hljs.language-tsx .hljs-keyword {
  color: hsl(var(--violet) / 1);
}

.hljs.language-tsx .hljs-keyword::after {
  color: hsl(var(--yellow) / 1);
}

.hljs.language-tsx .class_ {
  color: hsl(var(--yellow) / 1);
}

.hljs.language-tsx .hljs-built_in,
.hljs.language-tsx .function_ {
  color: hsl(var(--blue) / 1);
}

.hljs.language-tsx .hljs-property,
.hljs.language-tsx .hljs-params,
.hljs.language-tsx .hljs-variable.language_,
.hljs.language-tsx .hljs-name {
  color: hsl(var(--red) / 1);
}

.hljs.language-tsx .hljs-attr {
  color: hsl(var(--orange) / 1);
}

/* HTML */

.hljs.language-html {
  color: hsl(var(--primary) / 0.7);
}

.hljs.language-html .hljs-name {
  color: hsl(var(--red) / 1);
}

.hljs.language-html .hljs-attr {
  color: hsl(var(--orange) / 1);
}

.hljs.language-html .hljs-meta {
  color: hsl(var(--red) / 1);
}

/* CSS */

.hljs.language-css {
  color: hsl(var(--primary) / 0.7);
}

.hljs.language-css .hljs-name {
  color: hsl(var(--red) / 1);
}

.hljs.language-css .hljs-attribute {
  color: hsl(var(--orange) / 1);
}

.hljs.language-css .hljs-meta {
  color: hsl(var(--red) / 1);
}
